#root
{
    height: 1056px;
    width: 816px;
}

@media screen
{
    #root
    {
        background-color: #fff;
    }

    body
    {
        align-items: center;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

